@model HelpTrack.Application.DTOs.SlaDTO

@{
    ViewData["Title"] = "Detalles de Sla";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2> SLA # @Model.IdSla</h2>
        </div>
        <div class="card-body">
            <!-- Información Básica -->
            <div class="mb-4">
                <h4>Información General</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nombre)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

                    <dt class="col-sm-3">Estado</dt>
                    <dd class="col-sm-9">@Model.Activo</dd>

                    <dt class="col-sm-3">Tiempo de respuesta</dt>
                    <dd class="col-sm-9">@Model.TiempoMaxRespuestaHoras horas</dd>

                    <dt class="col-sm-3">Tiempo de resolucion</dt>
                    <dd class="col-sm-9">@Model.TiempoMaxResolucionHoras horas</dd>
                </dl>
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="Editar" asp-route-id="@Model.IdSla" class="btn btn-primary">Editar</a>
            <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
        </div>
    </div>
</div>

<style>
    .badge {
        font-size: 1em;
        padding: 0.5em 1em;
    }
</style>
