@model HelpTrack.Application.DTOs.TicketDTO

@{
    ViewData["Title"] = SharedLocalizer["CreateTicket"];
}

<h1>@SharedLocalizer["CreateTicket"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Ticket" asp-action="Create" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Titulo" class="control-label">@SharedLocalizer["Title"]</label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">@SharedLocalizer["Description"]</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPrioridad" class="control-label">@SharedLocalizer["Priority"]</label>
                <select asp-for="IdPrioridad" class="form-control" asp-items="ViewBag.Prioridades">
                    <option value="">@SharedLocalizer["SelectPriority"]</option>
                </select>
                <span asp-validation-for="IdPrioridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label">@SharedLocalizer["Category"]</label>
                <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.Categorias">
                    <option value="">@SharedLocalizer["SelectCategory"]</option>
                </select>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-3">
                <label for="newImages">@SharedLocalizer["AddImages"]</label>
                <input type="file" id="newImages" name="NuevasImagenes" multiple class="form-control" accept="image/*" />
            </div>
            <div class="form-group mt-3">
                <a asp-action="Index" class="btn btn-secondary">@SharedLocalizer["Cancel"]</a>
                <button type="submit" class="btn btn-primary">@SharedLocalizer["Save"]</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
